.style1{
    background-color: lightblue;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.style2{
    background-color: lightgreen;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}