<h2>Input Food Item Details</h2>

<form (submit)="addFoodItem(foodItem.value)" #foodItem="ngForm">

    <div class="form-group">
        <label for="itemCode">Item Code</label>
        <input type="text" name="itemCode" id="itemCode"
                                       class="form-control" 
                                       required
                                       ngModel
                                       #itemCode="ngModel"
                                       >
    </div>
    <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" name="itemName" id="itemName"
                                       class="form-control" 
                                       required
                                       ngModel
                                       #itemName="ngModel"
        [class.is-invalid]="itemName.invalid && itemName.touched">
        <small *ngIf="itemName.invalid && itemName.touched" class="text-danger">**Item Name is Required</small>

    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" id="price"
                                       class="form-control" 
                                       required
                                       ngModel
                                       #price="ngModel"
                                       >
    </div>

    

    <div class="form-group">
        <label for="type">Food Type</label>
        <select class="form-select" aria-label="Select a Food Type" name="type" id="type"
        required
        ngModel
        #type="ngModel">
        <option selected>Open this select menu</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="snacks">Snacks</option>
        </select>
    </div>
    <div class="form-check">
        <label for="isVeg">Vegeterian</label>
        <input type="radio" value="veg" name="isVeg" id="veg"
                                       class="form-check-input" 
                                       ngModel
                                       #isVeg="ngModel"
                                       >
    </div>

    <div class="form-check">
        <label for="isVeg">Non Vegeterian</label>
        <input type="radio" value="nonveg" name="isVeg" id="nonveg"
                                       class="form-check-input" 
                                       ngModel
                                       #isVeg="ngModel"
                                       >
    </div>

<button [disabled]="foodItem.invalid" type="submit" class="btn btn-primary">Add Item</button>

</form>